#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_soundcoin
#build/soundcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_soundcoin)

DEB_INSTALL_EXAMPLES_soundcoind += debian/examples/*
DEB_INSTALL_MANPAGES_soundcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix soundcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f soundcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake soundcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_soundcoin
	src/test_soundcoin

# Ensure wrapper is set executable
binary-post-install/soundcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/soundcoind
binary-post-install/soundcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/soundcoin-qt
